apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "langfuse-controller-helm.fullname" . }}
  labels:
    {{- include "langfuse-controller-helm.labels" . | nindent 4 }}
spec:
  replicas: 1
  selector:
    matchLabels:
      {{- include "langfuse-controller-helm.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "langfuse-controller-helm.selectorLabels" . | nindent 8 }}
    spec:
      serviceAccountName: {{ include "langfuse-controller-helm.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      containers:
        - name: {{ .Chart.Name }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          command:
          - /manager
          args:
          - --leader-elect
          env:
            - name: WATCH_NAMESPACES
              value: {{ join "," .Values.watchNamespaces | quote }}
            - name: LANGFUSE_HOST
              value: {{ .Values.langfuse.host | quote }}
            - name: LANGFUSE_PUBLIC_KEY
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.langfuse.existingSecret | default (include "langfuse-controller-helm.fullname" .) }}
                  key: LANGFUSE_PUBLIC_KEY
            - name: LANGFUSE_SECRET_KEY
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.langfuse.existingSecret | default (include "langfuse-controller-helm.fullname" .) }}
                  key: LANGFUSE_SECRET_KEY
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
